.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.hero img {
    margin-top: 30px;
    border-radius: 100px;
   
    width: 12%;
}

hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;

}

.hero h1 span {
    font-size: -webkit-xxx-large;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    width: 42%;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415ff);

}

.hero-resume{
    padding:25px 75px ;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;

}

.hero-connect:hover{
    border: 2px solid white;

}
.hero-resume:hover{
    border-color: #B415ff;
}
.hero-resume a{
    text-decoration: none;
    color: white;
}